.front_base{
    position: relative;
    margin-top: 102px; 
    width: 100%;
    height: 350px;
    max-width: 2000px;
    min-width: 1300px;
    background-color: antiquewhite;
}

.base_t {
    width: 0;
    height: 0;
    margin-left: 46%;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid antiquewhite;

}

.main_title{
    margin-top: 22%;
    text-align: center;
    font-size: 300%;
    font-weight: 600;
}

.detail1 {
    margin-top: 1%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 100%;
}

.guide_box {
    margin-top: 2%;
    width: 100%;
    height: 100px;
    background-color: rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumpButton {
    border: transparent;
    background-color: rgb(192, 192, 192);
    margin: 0 10px;
}

.jumpButton:hover {
    font-weight: 550;
}

.jumpButton2 {
    border: transparent;
    background-color: rgb(192, 192, 192);
    margin: 0 10px;
}

.jumpButton2:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    color: #000;
    font-weight: bold;
}

.two_sides {
    display: flex;
}

.left_side {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title1 {
    background-color: rgba(221, 221, 221, 0.544);
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 225, 225);
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: disc;
    margin: 10px 0;
    padding-left: 20px;
}

.table {
    border-collapse: collapse;
    margin-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 225, 225);
}

.th, td {
    width: 50%;
    border: 1px solid rgb(225, 225, 225);
    padding: 10px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: rgba(221, 221, 221, 0.544);
}

tr:nth-child(even) {
    background-color: white;
}

.right_side {
    margin-top: 50px;
    margin-left: 10px;
    height: 100%;
    width: 50%;
}
