.layout {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 8% 1fr 8%;
    grid-template-rows: 5% 15% auto 25%;
    grid-template-areas:
        'left-margin toolbar right-margin'
        'left-margin navbar right-margin'
        'left-margin content right-margin'
        'left-margin sitemap right-margin';
}

.content {
    grid-area: content;
    background: greenyellow;
    overflow-y: auto;
    padding: 20px;
  }
  
  /* 添加媒体查询，当屏幕宽度小于某个阈值时，限制内容的高度
  @media (max-width: 768px) {
    .content {
      max-height: 60vh; /* 设置较小的最大高度 }}*/

.left-margin {
    grid-area: left-margin;
}

.right-margin {
    grid-area: right-margin;
}

.toolbar {
    grid-area: toolbar;
    display: grid;
    grid-template-columns: 30% 20% 20% 20% 10%;
    background-color: rgb(232, 235, 235);
}

.media_icon {
    display: flex;/*  */
    align-items: center; /* logo position at centre of the toolbar */
    margin-left: 10%; 
    position: relative; /* relative to add shadow */
}

.logo {
    height: 70%;
    width: 9%;
    margin-right: 8%;
    border-radius: 43%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* initial logo */
}

.logo:hover {
    transform: scale(1.03); /* image zoom in 10% */
    box-shadow: 0 5px 15px rgba(065, 113, 236, 0.8); /* add shadow */
}

.language_button {
    display: flex;/*  */
    align-items: center; /* logo position at centre of the toolbar */
    justify-content: center;
    position: relative; /* relative to add shadow */
}

.language {
    display: flex;
    font-weight: 700;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    color: Black;
    background-color: transparent;
    border: transparent;
    border-radius: 30px;
    width: 80%;
    height: 70%;
    transition: background-color 0.1s ease;
}

.language:hover {
    background-color: rgba(065, 113, 236, 0.8);
}

.language_button.clicked button {
    box-shadow: 0 8px 16px rgba(065, 113, 236, 0.8);
    background-color: rgb(255, 255, 255); /* set button colour */
    z-index: 999;
  }

.popup{
    top: 5%;
    height: 30%;
    width: 10%;
    position: fixed;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* at top layer */
}

.language_box {
    display: flex;
    font-weight: 700;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    color: Black;
    width: 100%;
    height: 25%;
}

.language_box:hover {
    color: white;
    background-color: rgba(065, 113, 236, 0.8);
}

.phone_box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-left: 5px solid #000;
}

.p1 {
    font-weight: 500;
    font-size: 1rem;
}

.p2 {
    margin-left: 3%;
    font-weight: 400;
    font-size: 1rem;
}

.email_box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
}

.e1 {
    font-weight: 500;
    font-size: 1rem;
}

.e2 {
    margin-left: 3%;
    font-weight: 400;
    font-size: 1rem;
}

.navbar {
    grid-area: navbar;
    background-color: yellow;
}

.content {
    grid-area: content;
    background: greenyellow;
}

.sitemap {
    grid-area: sitemap;
    background-color: pink;
}