.mainpage {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f8f9fa;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    position: relative;
    margin-top: 6.5%;
    left: 9%;
    width: 82%;
    max-width: 2000px;
    min-width: 1300px;
}

.two_sides {
    display: flex;
}

.left_side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.right_side {
    flex: 1;
    padding: 50px;
}

.title_2 {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}

.card {
    flex: 1;
    margin-right: 80px;
    text-align: center;
    height: 350px;
    border: 1px solid gray;
}

.card:last-child {
    margin-right: 0;
}

.title_3 {
    text-align: left;
    padding: 20px 0;
    margin-left: 80px;
    font-size: 24px;
}

.loc {
    flex: 1;
    height: 200px;
    margin-right: 80px;
    text-align: center;
    border: 1px solid gray;
}

.loc:last-child {
    margin-right: 0;
}

#scroll_top {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 80px;
    background-color: #fff;
    color: #007bff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
    z-index: 999;
}

#scroll_top:hover {
    background-color: #007bff;
    color: #fff;
}

#arrow-up {
    display: block;
    margin-bottom: -23px;
}