.site {
    position: absolute;
    left: 9%;
    width: 82%;
    height: 25vh;
    background-color: gainsboro;
    max-width: 2000px;
    min-width: 1300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
}

.list {
    list-style-type: none;
    padding: 0;
}